<div class="DesktopTabletOnly SideBar">
    <div style="padding: 0 5px">
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Overview
            </button>
        </a>
        <hr>
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Daily Planner
            </button>
        </a>
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Weekly Planner
            </button>
        </a>
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Monthly Planner
            </button>
        </a>
        <hr>
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Journal
            </button>
        </a>
        <hr>
        <a href="/planner">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Tracker
            </button>
        </a>

    </div>
</div>
<div class="MobileOnly">
    <%- include('header.ejs')%>
</div>