<!--<div class="Row4" style="grid-gap: 10px">-->
<!--    <a href="/portfolio/create" class="Button">Create</a>-->
<!--    <a href="/portfolio/objectives" class="Button">Objectives</a>-->
<!--    <a href="/portfolio/categories" class="Button">Categories</a>-->
<!--    <a href="/portfolio/search" class="Button">Search</a>-->
<!--</div>-->
<div style="padding: 0 10px">
    <a href="/portfolio">
        <button class="SmallButton">
            <!--            <div style="font-size: 2rem">-->
            <!--                Words-->

            <!--            </div>-->
            <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
        </button>
    </a>
    <a href="/portfolio/create">
        <button class="SmallButton">
            <img src="/images/icon/add.svg" alt="Create Project" class="Icon">
        </button>
    </a>
    <a href="/portfolio/analysis">
        <button class="SmallButton">
            <img src="/images/icon/science.svg" alt="Search" class="Icon">
        </button>
    </a>
    <a href="/portfolio/deliver">
        <button class="SmallButton">
            <img src="/images/icon/timeline.svg" alt="Search" class="Icon">
        </button>
    </a>
    <a href="/portfolio/search">
        <button class="SmallButton">
            <img src="/images/icon/search.svg" alt="Search" class="Icon">
        </button>
    </a>
</div>