



<div class="CenterContent">
    <h1>Projects</h1>
    <div class="Row4" style="grid-gap: 10px">
        <a href="/portfolio/create" class="Button">Create Project</a>
        <a href="/portfolio/objectives" class="Button">Objectives</a>
        <a href="/portfolio/categories" class="Button">Categories</a>
        <a href="/portfolio/search" class="Button">Search</a>
    </div>
</div>
<br>
<% if (locals.projects) { %>
    <h2>Recent Projects</h2>
    <div id="projects" class="CenterContent">
        <% for (var i = 0; i < projects.length; i++) { %>
        <a href="/portfolio/project/<%= projects[i].title%>">
            <div class="Button">
                <h2>
                    <%= projects[i].title %>
                </h2>
            </div>
        </a>

        <% } %>
    </div>

<% } else if (locals.error) { %>
    <div class="Error">
        <%= error %>
    </div>
<% } else { %>
    <div class="Error">
        Unknown error occurred when retrieving projects.
    </div>
<% }%>