<% if (locals.projects) { %>
    <h2><%= (locals.message) ? locals.message : "Projects" %></h2>
    <div id="projects" class="CenterContent">
        <% for (var i = 0; i < projects.length; i++) { %>
            <%- include('project_item.ejs', {project: projects[i]})%>
        <% } %>
    </div>

<% } else if (locals.error) { %>
    <div class="Error">
        <%= error %>
    </div>
<% } else { %>
    <div class="Error">
        Unknown error occurred when retrieving projects.
    </div>
<% }%>