<div id="Categories">
<!--    <h2><%= (locals.message) ? message : "Categories" %></h2>-->

    <% if (locals.categories) { %>
        <div class="Flex" style="justify-content: center">
<!--        <div class="Row3" style="grid-row-gap: 0">-->
            <% for (var k = 0; k < categories.length; k++) { %>
                <a href="/portfolio/project/category/<%= categories[k].title %>" class="One">
                    <button class="BigButton">
                        <%= categories[k].title %>
                        <div class="Small">
                            Projects
                        </div>

                    </button>
                </a>
            <% } %>
        </div>

    <% } else { %>
        <div style="text-align: center">No categories. </div>
    <% } %>
</div>
