<div id="Categories" class="CenterContent">
    <h2><%= (locals.message) ? message : "Categories" %></h2>

    <% if (locals.categories) { %>
        <div class="Row3">
            <% for (var k = 0; k < categories.length; k++) { %>
                <a href="/portfolio/project/category/<%= categories[k].title %>">
                    <div class="Button">
                        <%= categories[k].title %>
                    </div>
                </a>
            <% } %>
        </div>

    <% } else { %>
        <div style="text-align: center">No categories. </div>
    <% } %>
</div>
