<a href="/portfolio/project/<%= project.title%>">
    <div class="Button">
        <div style="display: grid; grid-template-columns: 1fr auto">
            <div style="text-align: left; ">
                <%= project.title %>
            </div>
            <div style="text-align: right; font-size: 10px">
                <div>
                    <%= project.category%>
                </div>
                <div>
                    <%= project.status %>
                </div>
            </div>
        </div>
    </div>
</a>