<div class="SideContent">
    <%- include('sidebar.ejs')%>
    <div class="">
        <div class="DesktopOnly Flex CenterContent" style="justify-content: center; justify-items: center">
            <a href="/portfolio/resources">
                <div class="Button">Summary</div>
            </a>
            <a href="/portfolio/resources/finance">
                <div class="Button">Finances</div>
            </a>
            <a>
                <div class="Button disabledButton">Assets</div>
            </a>
            <a>
                <div class="Button disabledButton">Time</div>
            </a>
            <a>
                <div class="Button disabledButton">Skills</div>
            </a>
        </div>
        <div>
            <%- include("Resources/" + tab) %>
        </div>
    </div>
</div>
<script>
    document.getElementById("Date").valueAsDate = new Date()
    document.getElementById("Customer").focus()
</script>