<div class="DesktopOnly DarkBackground SideBar">
    <div style="padding: 0 5px">
        <a href="/portfolio">
            <button>
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Portfolio
            </button>
        </a>

        <a href="/portfolio/stakeholder">
            <button>
                <img src="/images/icon/groups.svg" alt="Search" class="Icon">
                Stakeholders
            </button>
        </a>
        <a href="/portfolio/resources">
            <button>
                <img src="/images/icon/resource.svg" alt="Search" class="Icon">
                Resources
            </button>
        </a>
        <a href="/portfolio/analysis">
            <button>
                <img src="/images/icon/science.svg" alt="Search" class="Icon">
                Analysis
            </button>
        </a>
        <a href="/portfolio/deliver">
            <button>
                <img src="/images/icon/timeline.svg" alt="Search" class="Icon">
                Deliverables
            </button>
        </a>
        <hr>
        <a href="/portfolio/track">
            <button>
                <img src="/images/icon/timeline.svg" alt="Search" class="Icon">
                Tracking
            </button>
        </a>
        <a href="/portfolio/project/create">
            <button>
                <img src="/images/icon/add.svg" alt="Create Project" class="Icon">
                New Project
            </button>

        </a>
        <a href="/portfolio/search">
            <button>
                <img src="/images/icon/search.svg" alt="Search" class="Icon">
                Search
            </button>
        </a>
    </div>
</div>
<div class="MobileOnly">
    <%- include('header.ejs')%>
</div>