<div class="DesktopTabletOnly SideBar">
    <div style="padding: 0 5px">
        <a href="/portfolio">
            <button class="NoBackground">
                <img src="/images/icon/home.svg" alt="Projects Home" class="Icon">
                Portfolio
            </button>
        </a>
        <a href="/portfolio/project/create">
            <button class="NoBackground">
                <img src="/images/icon/add.svg" alt="Create Project" class="Icon">
                New Project
            </button>
        </a>
        <a href="/portfolio/analysis">
            <button class="NoBackground">
                <img src="/images/icon/science.svg" alt="Search" class="Icon">
                Analysis
            </button>
        </a>
<!--        <a href="/portfolio/search">-->
<!--            <button class="NoBackground">-->
<!--                <img src="/images/icon/search.svg" alt="Search" class="Icon">-->
<!--                Search-->
<!--            </button>-->
<!--        </a>-->
        <hr>
        <a href="/portfolio/stakeholder">
            <button class="NoBackground">
                <img src="/images/icon/groups.svg" alt="Search" class="Icon">
                Stakeholders
            </button>
        </a>
        <a href="/portfolio/resources/assets">
            <button class="NoBackground">
                <img src="/images/icon/items.svg" alt="Search" class="Icon">
                Assets
            </button>
        </a>
<!--        <a href="/portfolio/resources">-->
<!--            <button class="NoBackground">-->
<!--                <img src="/images/icon/resource.svg" alt="Search" class="Icon">-->
<!--                Resources-->
<!--            </button>-->
<!--        </a>-->
        <a href="/portfolio/resources/finance">
            <button class="NoBackground">
                <img src="/images/icon/money.svg" alt="Search" class="Icon">
                Finances
            </button>
        </a>
        <hr>
<!--        <a href="/portfolio/track">-->
<!--            <button class="NoBackground">-->
<!--                <img src="/images/icon/timeline.svg" alt="Search" class="Icon">-->
<!--                Tracking-->
<!--            </button>-->
<!--        </a>-->
        <a href="/portfolio/deliver">
            <button class="NoBackground">
                <img src="/images/icon/timeline.svg" alt="Search" class="Icon">
                Backlog
            </button>
        </a>
    </div>
</div>
<div class="MobileOnly">
    <%- include('header.ejs')%>
</div>