<div class="SideContent">
    <%- include('sidebar.ejs')%>
    <div class="CenterContent">
        <h1>Stakeholders</h1>
        <h2>Customers</h2>
        <% for (var i = 0; i < customers.length; i++) { %>
            <div>
                <%= customers[i].name %>
            </div>
        <% } %>
    </div>
</div>