<div style="padding: 0 10px">
    <a href="/words" title="Words Home">
        <button class="SmallButton">
            <img src="/images/icon/home.svg" alt="Words Home" class="Icon">
        </button>
    </a>
    <a href="/words/add" title="Add Word">
        <button class="SmallButton">
            <img src="/images/icon/add.svg" alt="Add Word" class="Icon">
        </button>
    </a>
    <a href="/words/topic" title="Topics">
        <button class="SmallButton">
            <img src="/images/icon/data.svg" alt="Topics" class="Icon">
        </button>
    </a>
    <a href="/words/range" title="Date Range">
        <button class="SmallButton">
            <img src="/images/icon/date_range.svg" alt="Date Range" class="Icon">
        </button>
    </a>
    <a href="/words/search" title="Search">
        <button class="SmallButton">
            <img src="/images/icon/search.svg" alt="Search" class="Icon">
        </button>
    </a>
</div>

