<div class="CenterContent">
    <%- include("header.ejs")%>
    <form action="/words/range" class="Container">
        <h1>Search Words by Dates</h1>
        <div class="inputField">
            <label for="start">
                Start
            </label>
            <input type="date" id="start" name="start">
        </div>
        <div class="inputField">
            <label for="end">
                End
            </label>
            <input type="date" id="end" name="end">
        </div>
        <input type="submit" value="Search">
    </form>
    <% if (locals.words) { %>
        <%- include("list.ejs") %>
    <% } %>
</div>
