$theme-color-very-light: #93dbff;
$theme-color-light: #49b0e5;
$theme-color: #1e7bab;
$theme-color-dark: #09405d;
$theme-color-transparent: rgba(30, 123, 171, 0.24);
$background: #001a28;
$shadow: rgb(0, 0, 0);