$theme-color-very-light: #93dbff;
$theme-color-light: #49b0e5;
$theme-color: #1e7bab;
$theme-color-dark: #09405d;
$theme-color-transparent: rgba(30, 123, 171, 0.24);
$background: #001a28;
$shadow: rgb(0, 0, 0);

body {
  margin: 0;
  font-size: 20px;
  min-height: 100vh;
  font-family: sans-serif;
  background: $background;
  color: #d2d2d2;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

* {
  box-sizing: border-box;
}

a {
  color: $theme-color-light;
}

.Idea {
  background-color: rgba(255, 255, 255, 0.05);
  display: grid;
  grid-template-columns: 1fr 50px;
}

.Idea > * {
  padding: 5px;
}

p {
  margin: 0;
  padding: 0em 0.8em;
  text-indent: 0.5em;
}

img {
  width: 100%;
}

.HomeButtons > a {
  color: white;
}

.HomeButtons > a > div {
  text-align: center;
  padding: 10px;
  display: grid;
  align-items: center;
}

.auth {
  display: grid;
  grid-gap: 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  //margin-top: auto;
  //margin-bottom: auto;
  //height: 100vh;
  padding-top: 10%;
  //align-content: center;
}

pre {
  width: 100%;
}

label {
  display: block;
  padding: 5px;
}

input[type="text"], input[type="number"], input[type="date"], input[type="password"], textarea {
  width: 100% !important;
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  padding: 5px;
  background-color: #1e1e1e;
  outline: none;
  border: 1px $theme-color solid;
  border-radius: 4px;
  color: white;
}

button, input[type="submit"], input[type="reset"], .Button {
  background-color: $theme-color-dark;
  text-align: center;
  color: white;
  outline: none;
  border: none;
  padding: 10px;
  font-size: inherit;
  width: 100%;
  cursor: pointer;
  transition: 0.1s background-color;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}
input[type="date"] {
  text-align: center;
}

input[type="reset"] {
  background-color: $theme-color-dark;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover, .Button:hover {
  background-color: $theme-color;
}

button:active, input[type="submit"]:active, input[type="reset"]:active, .Button:active {
  background-color: $theme-color-dark;
  font-weight: bold;
}

button:focus, input[type="submit"]:focus, input[type="reset"]:focus, .Button:focus {
  outline: white solid 1px;
}

a {
  text-decoration: none;
}

a:hover {
  color: $theme-color-very-light;
}

#nav {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.navButton {
  padding: 10px;
  color: white !important;
  text-decoration: none !important;
  cursor: pointer;
  transition: 0.1s background-color ease-in;
}

input[type="checkbox"] {
  font-size: inherit;
  width: 1em;
  height: 1em;
  padding: 10px;
}

.navButton:hover {
  background-color: rgba(255, 255, 255, 0.09);
}

.Flex {
  display: flex;
  gap: 10px;
}

.Container {
  border: 1px solid $theme-color-dark;
  //background: $theme-color-transparent;
  box-shadow: 1px 1px 5px $shadow;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.RowOneTwo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.One {
  flex: 1;
}
.Two {
  flex: 2;
}
.Three {
  flex: 3;
}
.Four {
  flex: 4;
}
.Five {
  flex: 5;
}

a > .navButton {
  text-decoration: none !important;
}

header {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-content: center;
  background: $theme-color;
}

#PlannerContent {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 20px;
  padding: 10px;
}

#Goals {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
}

#GoalList{
  display: grid;
  grid-gap: 5px;
  align-content: start;
}

#AddGoal {
  display: grid;
  grid-gap: 5px;
}

.Goal {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  background-color: rgba(255, 255, 255, 0.1);
}

#Plans {

}

#PlanList {
  display: grid;
  grid-gap: 5px;
}

.Plan {
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-gap: 20px;
  text-align: right;
}

.Plan > input {
  background-color: #1e1e1e;
  outline: none;
  color: white;
}

.Row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.Row3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.Row4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.Row5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}

.HomeButtons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
  place-items: center;
  place-content: center;
}

select {
  background: #1e1e1e;
  color: white;
}

.HomeButton {
  transform: scale(0.95);
  transition: 0.2s;
}

.HomeButton:hover {
  transform: scale(0.99);
  //background: rgba(42, 86, 196, 0.12);
}

.Clickable {
  cursor: pointer;
  transition: 0.2s;
  font-weight: lighter;
}

.Clickable:hover {
  font-weight: normal;
}

.HomeIcon {
  background: rgba(255, 255, 255, 0.08);
  margin-bottom: 5px;
  font-size: 100px;
  padding: 10px;
  border-radius: 10px;
}

.HomeName {
  font-size: 20px;
}

.CenterContent {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.inputField {
  display: grid;
  //grid-template-columns: 1fr 4fr;
  grid-gap: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.inputField>*:nth-child(1) {
  font-weight: bold;
  //background: rgba(255, 255, 255, 0.08);
  text-align: left;
  padding: 5px;
}

.project {
  background: rgba(0, 255, 60, 0.06);
  padding-top: 10px;
}

#projects {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
}

#subheader {
  background: #155779;
}

.highlight {
  color: #487fbe;
}

.Small {
  font-size: 10px;
}

p {
  text-indent: 0;
  line-height: 2rem;
  padding-bottom: 2rem;
}



@media only screen and (max-width: 700px) {
  .Flex {
    display: block;
  }

  //.Row4 {
  //  display: grid;
  //  grid-template-columns: 1fr;
  //}

  .CenterContent {
    padding-left: 10px;
    padding-right: 10px;
  }

  button, input[type="submit"], input[type="reset"], .Button {
    //padding-top: 30px;
    //padding-bottom: 30px;
  }
}