<div class="auth">
    <img src="/images/M02a.png" style="padding: 0 25.5%; width: 100%">
    <h1>Welcome to Scheduler</h1>
    <p style="text-align: center">Please login or create a new account.</p>
    <a href="/auth/create">
        <div class="Button">
            Create Account
        </div>
    </a>
    <a href="/auth/login">
        <div class="Button">
            Login
        </div>
    </a>
</div>
