<div class="CenterContent">
    <%- include('header.ejs')%>
    <h1>Add WikiApp Page</h1>
    <form action="/wiki" method="post">
        <div class="inputField">
            <label for="title">Title: </label>
            <input type="text" name="title" id="title" value="<%= title %>" required>
        </div>
        <div class="inputField">
            <label for="content">Content: </label>
            <textarea name="content" id="content" rows="20"></textarea>
        </div>
        <input type="submit" value="Create Page">
    </form>
    <% if (locals.error) { %>
        <div class="Error">
            <%= error %>
        </div>
    <% } %>
</div>
