<a href="/wiki/page/<%= doc.title %>">
    <div class="DocIcon">
        <img src="/images/icon/doc.svg" alt="<%= doc.title %>">
        <div>

        </div>

        <div>
            <%= doc.title %>
        </div>
    </div>
</a>