<!--<div class="Row3" style="grid-gap: 10px">-->
<!--    <a href="/wiki" class="Button">Wiki</a>-->
<!--    <a href="/wiki/add" class="Button">Add</a>-->
<!--    <a href="/wiki/search" class="Button">Search</a>-->
<!--</div>-->

<span style="padding: 0 10px">
    <a href="/wiki">
        <button class="SmallButton">
            <!--            <div style="font-size: 2rem">-->
            <!--                Words-->

            <!--            </div>-->
            <img src="/images/icon/home.svg" alt="Words Home" class="Icon">
        </button>
    </a>
    <a href="/wiki/add">
        <button class="SmallButton">
            <img src="/images/icon/add.svg" alt="Add Word" class="Icon">
        </button>
    </a>
    <a href="/wiki/search">
        <button class="SmallButton">
            <img src="/images/icon/search.svg" alt="Search" class="Icon">
        </button>
    </a>
</span>
