<div id="subheader" class="Row3">
    <a href="/wiki" style="color: inherit !important;">
        <h3 class="Clickable">
            Wiki Home
        </h3>
    </a>
    <a href="/wiki/add" style="color: inherit !important;">
        <h3 class="Clickable">
            Add
        </h3>
    </a>
    <h3 class="Clickable" onclick="Toggle(document.getElementById('Search'))">
        Search
    </h3>
</div>