<!--<div id="subheader" class="Row3">-->
<!--    <a href="/wiki" style="color: inherit !important;">-->
<!--        <h3 class="Clickable">-->
<!--            WikiApp Home-->
<!--        </h3>-->
<!--    </a>-->
<!--    <a href="/wiki/add" style="color: inherit !important;">-->
<!--        <h3 class="Clickable">-->
<!--            Add-->
<!--        </h3>-->
<!--    </a>-->
<!--    <h3 class="Clickable" onclick="Toggle(document.getElementById('Search'))">-->
<!--        Search-->
<!--    </h3>-->
<!--</div>-->
<div style="padding: 0 10px">
    <a href="/wiki">
        <button class="SmallButton">
            <!--            <div style="font-size: 2rem">-->
            <!--                Words-->

            <!--            </div>-->
            <img src="/images/icon/home.svg" alt="Words Home" class="Icon">
        </button>
    </a>
    <a href="/wiki/add">
        <button class="SmallButton">
            <img src="/images/icon/add.svg" alt="Add Word" class="Icon">
        </button>
    </a>
    <a href="/wiki/search">
        <button class="SmallButton">
            <img src="/images/icon/search.svg" alt="Search" class="Icon">
        </button>
    </a>
</div>
