

.project {
  background: rgba(0, 255, 60, 0.06);
  padding-top: 10px;
}

#projects {
  max-width: 500px;
  //display: grid;
  //grid-template-columns: repeat(auto-fill, r);
  //grid-gap: 5px;
  //width: 100%;
  //display: grid;
  //grid-gap: 10px;
  //padding: 10px;
}