#documents {
  display: grid;
  grid-template-columns: repeat(auto-fit, 150px);
  justify-content: space-between;
  grid-gap: 20px;
}

.DocIcon>img {
  width: 100px;
}
.DocIcon {
  text-align: center;
}

.ql-container {
  font-size: 20px !important;
}

.ql-stroke {
  stroke: white !important;
  color: white;
}

.ql-fill .ql-picker-label {
  fill: white;
  color: white;
}

.ql-picker-item {
  //fill: #1e1e1e !important;
  color: white !important;
  //stroke: #1e1e1e !important;
  background: #1e1e1e;
}

.ql-picker-options {
  background: #1e1e1e;

}

.ql-picker {
  color: white;
}

.ql-snow .ql-picker {
  //color: white;
  color: white !important;
}

#DisplayPage > div > p {
  //padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

#DisplayPage > div > ul > li {
  padding-bottom: 0.5em !important;
}

#DisplayPage > div > ul {
  margin-left: 2em;
}


#DisplayPage > div > ul > .ql-indent-1 {
  margin-left: 2em;
}

#DisplayPage > div > ul > .ql-indent-2 {
  margin-left: 4em;
}

#DisplayPage > div > ul > .ql-indent-3 {
  margin-left: 6em;
}

#DisplayPage > div > ul > .ql-indent-4 {
  margin-left: 8em;
}

#DisplayPage > div > ul > .ql-indent-5 {
  margin-left: 10em;
}

#DisplayPage > div > ul > .ql-indent-6 {
  margin-left: 12em;
}

#DisplayPage > div > ul > .ql-indent-7 {
  margin-left: 14em;
}

#DisplayPage h2 {
  text-align: inherit;
}

#DisplayPage h3 {
  text-align: inherit;
}
#DisplayPage h4 {
  text-align: inherit;
}

#DisplayPage h5 {
  text-align: inherit;
}

#DisplayPage h6 {
  text-align: inherit;
}