<h1>Create Account</h1>
<form action="/auth/create" method="post" autocomplete="on">
    <label>
        Username:
        <input type="text" name="username" autocomplete="username">
    </label>
    <label>
        Password:
        <input type="password" name="password" autocomplete="new-password">
    </label>
    <input type="submit" value="Login">
</form>
<div><%- m %></div>