<%
 var apps = [
     {
         url: "/idea",
         icon: "🌱",
         name: "Idea"
     },
     {
         url: "/projects",
         icon: "📙",
         name: "Projects"
     },
     {
         url: "/planner",
         icon: "📖",
         name: "Planner"
     },
     {
         url: "/words",
         icon: "🌹",
         name: "Words"
     },
     {
         url: "/track",
         icon: "📊",
         name: "Tracker"
     }
 ]
 %>

<div id="Home">
    <div class="HomeSection">
        <div class="HomeButtons">
            <% for (var i = 0; i < apps.length; i++) { %>
            <a href="<%- apps[i].url %>">
                <div class="HomeButton">
                    <div class="HomeIcon"><%- apps[i].icon %></div>
                    <div class="HomeName"><%- apps[i].name %></div>
                </div>
            </a>
            <% } %>
        </div>
    </div>
</div>