<div id="Home">
    <div class="HomeSection">
        <div class="HomeButtons">
            <a href="/idea">
                <div>
                    Ideas
                </div>
            </a>
            <a href="/projects">
                <div>
                    Projects
                </div>
            </a>
            <a href="/planner">
                <div>
                    Planner
                </div>
            </a>
        </div>
    </div>
</div>