<div id="Home" class="CenterContent">
    <h1>Welcome <%= first_name %></h1>
    <div class="Flex">
        <div class="Two Container">
            <h2>Projects</h2>
            <div style="text-align: center">By Category</div>
        </div>
        <div class="Four Container">
            <h2>Recent Documents</h2>
        </div>
    </div>
    <div class="Container">
        <h2>Recent Word</h2>
    </div>
</div>