<h1>Login</h1>
<form action="/auth/login" method="post" autocomplete="on">
    <label>
        Username:
        <input type="text" name="username" autocomplete="username">
    </label>
    <label>
        Password:
        <input type="password" name="password" autocomplete="current-password">
    </label>
    <input type="submit" value="Login">
</form>
<div><%- m %></div>