<% var nav = [
    {a: "/idea", t: "Ideas"},
    {a: "/portfolio", t: "Portfolio"},
   // {a: "/planner", t: "Planner"},
    {a: "/words", t: "Words"}
] %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color"
          content="#428f4b"
          media="(prefers-color-scheme: dark)">
</head>
<body>
<header>
    <a class="navButton" href="/"><div>Home</div></a>
    <div>&nbsp;</div>
    <div id="nav">
        <% for (var i = 0; i < nav.length; i++) { %>
            <a class="navButton" href="<%- nav[i].a %>"><div><%- nav[i].t%></div></a>
        <% } %>
    </div>
</header>
<div id="content"><%- include(content) %></div>
<footer></footer>
</body>
</html>