<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
</head>
<body>
<header>
    <a href="/">Home</a>
    <a href="/idea">Ideas</a>
    <a href="/auth/create">Create</a>
    <a href="/auth/login">Login</a>
</header>
<div id="content"><%- include(content) %></div>
<footer></footer>
</body>
</html>