<section>

</section>
<div id="subheader" class="Row3">
    <h3 class="Clickable" onclick="Toggle('add_word')">
        Add
    </h3>
    <a href="/words/browse" style="color: inherit !important;">
        <h3 class="Clickable" style="color: inherit !important" onclick="Toggle('Browse')">
            Browse
        </h3>
    </a>
    <h3 class="Clickable" onclick="Toggle('Search')">
        Search
    </h3>
</div>
<div class="CenterContent">
    <form action="/words" method="post" onload="document.getElementById('word_start').focus()" id="add_word" style="display: none">
        <label>
            Word: <input type="text" name="title" tabindex="1" id="word_start">
        </label>
        <label>
            Date: <input type="date" name="date" tabindex="2">
        </label>
<!--        <div class="Row2">-->
<!--            <div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <label>-->
<!--                    <input type="hidden" name="number" tabindex="3" value="-1">-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
        <label>
            Content:
            <textarea name="content" tabindex="3" rows="5"></textarea>
        </label>
        <div class="Row2">
            <input type="reset" value="Reset">
            <input type="submit" value="Add" tabindex="4">
        </div>
        <% if (message) { %>
            <div class="Message">
                <% message %>
            </div>
        <% } %>
    </form>
    <form id="Search" style="display: none" method="post" action="/words/search">
        <label>
            <input type="text" placeholder="Enter text to search..." name="term">
        </label>
        <input type="submit" value="Search">
    </form>
    <div id="Browse" style="display: none">

    </div>
    <div class="Words">
        <h4><%- locals.message%></h4>
        <% for (var i = 0; i < words.length; i++) { %>
            <h4 class="highlight">
                <%- words[i].title %>
            </h4>
            <h5>
                <%- words[i].date.toLocaleDateString()%>
            </h5>
            <p>
                <%- words[i].content %>
            </p>
            <br>
            <hr>
        <% } %>
    </div>
</div>