
<div class="Words">
    <h4><%- locals.message%></h4>
    <% for (var i = 0; i < words.length; i++) { %>
    <div class="Row2">
        <h4 style="color: #48be55">
            <%- words[i].title %>
        </h4>
        <h5>
            <%- words[i].date.toLocaleDateString()%>
        </h5>
    </div>
        <br>
        <hr>
    <% } %>
</div>